<div class="jumbotron hero">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-7 phone-preview">
                <div class="inside-phone"><img src="assets/iphone.svg" class="device">
                    <div class="screen"></div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-3 get-it">
                <h1>No more hassle with out-of-pocket payments</h1>
                <!-- company intro  -->
                <div class="intro">
                    <h2 class="text-center Newsletter_header">
                        Helping patients find, book, and pay
                    </h2>
                    <p>
                        Manage and track out-of-pocket payments through edgedoc
                    </p>

                    <p class="text-center">
                        Coming up soon! Subscribe for our Beta.
                    </p>
                </div>

                <%= form_for @doctor, :url => {:controller => "doctors", :action => "create"}, :html => {:class => "form-inline", :method => :post} do |f| %>
                    <div class="firs_last_name_wrapper">
                        <%= f.text_field :first_name, :class => "form-control first_last_input", :placeholder => "First Name"%>
                        <%= f.text_field :last_name, :class => "form-control first_last_input", :placeholder => "Last Name"%>
                    </div>
                    <div class="form-group email_field">
                        <%= f.text_field :email, :class => "form-control email_input", :placeholder => "Your Email", :type => "email" %>
                        <%= f.submit "Subscribe", :class => "btn btn_edgedoc"%>
                    </div>
                <% end %>

            </div>
        </div>
    </div>
</div>

<div class="pannel_wrapper">
    <section class="main_pannel">
        <div class="image_side">
            <img src="assets/iphone.svg" class="device">
        </div>
        <div class="text_side">
            <h2>Enable easy payments, patient pays anytime, anywhere</h2>
            <blockquote>
                <p>Your patients are now able to pay their out-of-pocket expenses through our app. Collect out-of-pocket paymetns in just one click.</p>
                <footer>Famous tech website</footer>
            </blockquote>
        </div>
    </section>

    <section class="main_pannel">
        <div class="text_side">
            <h2>Attract patients with seamless services from the start to end</h2>
            <blockquote>
                <p>Your patients won't have to go back and forth using different services to find, book, and pay doctors. We will take care of these parts while you focus on your practice.</p>
                <footer>Famous tech website</footer>
            </blockquote>
        </div>
        <div class="image_side">
            <img src="assets/iphone.svg" class="device">
        </div>
    </section>
    <section class="main_pannel">
        <div class="image_side">
            <img src="assets/iphone.svg" class="device">
        </div>
        <div class="text_side">
            <h2>Collect valuable feedbacks, not just stars</h2>
            <blockquote>
                <p>Know what your patients have to say about you and your clinic and track your clinic’s performance</p>
                <footer>Famous tech website.</footer>
            </blockquote>
        </div>
    </section>
</div>

<!-- <section class="testimonials">
    <h2 class="text-center">People Love It!</h2>
    <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Famous tech website</footer>
    </blockquote>
</section> -->

<!-- <section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Fantastic Features</h2>
                <p>Morbi non mauris massa. Duis elit mauris, malesuada nec suscipit ac, bibendum sed augue. Maecenas condimentum magna gravida, laoreet nunc sed, euismod sem. </p>
            </div>
            <div class="col-md-6">
                <div class="row icon-features">
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-cloud"></i>
                        <p>Cloud-ready </p>
                    </div>
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-piggy-bank"></i>
                        <p>Saves You Money</p>
                    </div>
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-fire"></i>
                        <p>Fire Proof</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
